.bun-top {
  height: 70px;
  width: 60%;
  background: #e5b05a;
  border-radius: 100px 100px 20px 20px;
  border-bottom: solid 10px rgba(0,0,0,.1);
}

.mayonnaise {
  height: 5px;
  width: 50%;
  background: rgb(206, 204, 194);
  border-radius: 6px;
  display: inline-block;
  border-bottom: solid 2px rgb(167, 165, 160)
}

.patty {
  height: 30px;
  width: 65%;
  background: #412015b6;
  border-radius: 15px;
  border-bottom: solid 5px rgba(0,0,0,.1);
}

.lettuce {
  height: 15px;
  width: 60%;
  background: #3ac67d;
  border-radius: 50px 50px 100px 100px;
  border-bottom: solid 7px #2d9961;
}

.onion {
  width: 50%;
  background-color: #602174b9;
  border-radius: 5px;
  border-top: dotted 10px #32123bb9;
}

.bun-bottom {
  height: 35px;
  width: 60%;
  background: #e5b05a;
  border-radius: 20px 20px 40px 40px;
  border-top: solid 8px rgba(0,0,0,.1)
}

.plate {
  height: 25px;
  width: 80%;
  background: #cac3c3;
  border-radius: 20px 20px 200px 200px;
  border-top: solid 3px #7387af;
}